body {
	font-family: 'Eras ITC', sans-serif;
	font-size: 15px;
}

hr {
	border: #292662 solid 0.125em;
	border-radius: 1.5625em;
}

p {
	text-align: justify;
}

b {
	/*color: #C31349;*/
	font-weight: 600;
}

a {
	color: #292662;
}

/*------------------------------------------------------- NOTIFICACIONES --------------------------------------------------------*/
main .notificacion-roja {
	height: 3.5em;
	background: #C31349;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0 1em;
	justify-content: space-around;
	align-items: center;
}

main .notificacion-roja p {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: white;
}

main .notificacion-verde {
	height: 3.5em;
	background: #b3e799;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0 1em;
	justify-content: space-around;
	align-items: center;
}

main .notificacion-verde p {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: white;
}

/*------------------------------------------------------- CONTENEDOR GENERAL --------------------------------------------------------*/

.contenedor {
}

/*------------------------------------------------------- HEADER --------------------------------------------------------*/

header {
	height: 4.37em;
	background: #292662;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

	header .contenedor-logo .logo {
		font-family: 'Eras ITC', sans-serif;
		text-decoration: none;
		color: white;
		font-size: 1.6em;
		transition: color .2s ease;
	}

		header .contenedor-logo .logo:hover {
			color: #C31349;
		}

	header .contenedor-logo .fas {
		font-size: .8em;
		padding: 0 0.625rem 0 0.312rem;
	}

	header p {
		display: inline;
		color: white;
		font-size: 1.6em;
	}

/*------------------------------------------------------- CONTENIDO GENERAL --------------------------------------------------------*/

main {
	background: white;
	margin: 2.5em;
	color: #292662;
}

	main h3 {
		text-align: right;
	}

		main h3 a {
			text-decoration: none;
			color: #C31349;
			transition: all .2s ease;
		}

			main h3 a:hover {
				font-size: 1.20em;
			}

	/*------------------------------------------------------- MOSTRADOR --------------------------------------------------------*/

	main .mostrador {
		margin-bottom: 1.56em;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "titulo titulo" "imagen descripcion";
	}

		main .mostrador h1.titulo {
			grid-area: titulo;
			display: flex;
			justify-content: space-between;
		}

			main .mostrador h1.titulo a {
				text-decoration: none;
				color: #C31349;
				font-size: .8em
			}

		main .mostrador .imagen {
			grid-area: imagen;
			display:flex;
			justify-content:center;
			align-items:center;
			padding-bottom: 0.625em;
			transition: all .2s ease;
			width: 100%;
			height:80vh;
		}

			main .mostrador .imagen img {
				width: 100%;
			}
/*-------------------------------------------------FORMUARIO------------------------------------------------*/

.grid-formulario {
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid-formulario form {
	min-height:50%;
	padding: 1.25em 2.5em;
	background: #292662;
	border-radius: 1.25em;
	font-weight: 600;
	color: white;
}

.grid-formulario form .input {
	display:flex;
	padding: 0.625em 0;
	justify-content: center;
	flex-wrap:wrap;
}
.grid-formulario form .input input{
	width:80%;
	height:2em;
}
.grid-formulario form .input p{
	font-size:1.5em;
	margin:0;
}

.grid-formulario form .enviar {
	display: flex;
	align-items:center;
	justify-content: center;
	padding: 1.25em 0;
}

.grid-formulario form .enviar button {
	font-size:1.5em;
	background: #292662;
	color: white;
	font-weight: 500;
	cursor:pointer;
	transition:background .2s ease;
}

.grid-formulario form .enviar button:hover{
	background: #C31349;
}

.grid-formulario form p {
	padding: 0.625rem 0px 10px 0px;
	font-size: 2.18em;
}

.grid-formulario form input {
	border-radius: 1.25rem;
	font-size: 1.25em;
	min-width: 60%;
	padding: 0 0.93rem;
	height: 2.18rem;
	line-height: 2.18rem;
	border: 1px solid #ccc;
	transition: all 1s ease;
}

.grid-formulario form button {
	border-radius: 1.25rem;
	font-size: 1.25rem;
	min-width: 60%;
	padding: 0 0.93rem;
	height: 2.18rem;
	line-height: 2.18rem;
	border: 1px solid #ccc;
	transition: all 1s ease;
}



/*------------------------------------------------------- BOTTOM --------------------------------------------------------*/
bottom {
	padding: 0.625em 1.25em;
	display: block;
	background: #292662;
}

	bottom p {
		color: white;
		text-align: center;
	}

	bottom a {
		color: white;
		font-weight: 600;
	}

/*------------------------------------------------------- NAVEGACIÓN --------------------------------------------------------*/
.lateral-izquierdo {
	position: fixed;
	transform: translate(-85%,0px);
	display: flex;
	width: 30vw;
	min-width: 18.75em;
	transition: all .2s ease;
	z-index: 5;
}

	.lateral-izquierdo.active {
		transform: translate(0px,0px);
	}

	.lateral-izquierdo .boton {
		width: 15vw;
		min-width: 4.375em;
	}

		.lateral-izquierdo .boton button {
			width: 100%;
			height: 40%;
			max-height: 5em;
			text-decoration: none;
			border: none;
			border-radius: 0px 0px 80% 0px;
			background: #292662;
			overflow: hidden;
			padding: 0px;
			cursor: pointer;
		}

			.lateral-izquierdo .boton button img {
				width: 70%;
			}

	.lateral-izquierdo .enlaces {
		background: #292662;
		overflow: hidden;
		min-width: 85%;
		border-radius: 0px 0px 20px 0px;
	}

		.lateral-izquierdo .enlaces a {
			display: block;
			padding: 0.937rem 2.187rem;
			color: white;
			text-decoration: none;
			font-size: 1.25em;
			transition: all .2s ease;
		}

			.lateral-izquierdo .enlaces a:hover {
				background: #C31349;
				font-weight: bold;
			}

			.lateral-izquierdo .enlaces a.active {
				background: #C31349;
				font-weight: bold;
			}

		.lateral-izquierdo .enlaces .fas {
			margin-right: 1.25rem;
			width: 1.25rem;
			text-align: center;
			color: white;
		}

		.lateral-izquierdo .enlaces a.active .fas {
			color: white;
			font-weight: bold;
		}

		.lateral-izquierdo .enlaces hr {
			margin: 0.5rem 0;
			border: 1px solid #dfdfdf;
		}

/*------------------------------------------------------- RESPONSIVE --------------------------------------------------------*/

@media screen and (max-width: 1200px) {
	body {
		font-size: 13px;
	}

	main .mostrador {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: auto 1fr 1fr;
		grid-template-areas: "titulo" "imagen " "descripcion";
	}
		main .mostrador .imagen {
			width: 100%;
			height: auto;
		}
}

@media screen and (max-width: 820px) {
	body {
		font-size: 12px;
	}


	.lateral-izquierdo {
		width: 40vw;
		min-width: 23em;
	}
}

@media screen and (max-width: 576px) {
	body {
		font-size: 10px;
	}

	.lateral-izquierdo {
		width: 60vw;
		min-width: 23em;
	}

		.lateral-izquierdo .enlaces a {
			padding: 0.937rem 1.187rem;
			font-size: 1.5em;
		}

	.botones-header {
		display: none;
	}

	.grid-formulario form {
		padding: 1em 1em;
	}
	.grid-formulario form .input p{
		padding-top:0;
	}
}
